@charset "utf-8";
/* CSS Document 
 * Author: Liu Renfei
 * Update: 2013-11-05
*/
body{text-align: center;}
#center{margin-left: auto;margin-right: auto;margin-top:10px}
.pic{position:relative; margin:10px;display:block;height:320px;margin-top:50px;}
.search_form{position:relative; height:31px; margin:60px;display:inline-block;margin-left:-40px;margin-top:0} 

.sinput
	{
	float:left; width:380px; height:21px; line-height:21px; padding:4px 7px; color:#b3b3b3;margin-left:40px;  
	border:1px solid #999; border-radius:2px 0 0 2px; background-color:#fbfbfb;
	} 

.btn_addPic{
    display: inline-block;position: relative;width: 70px;height: 31px;overflow: hidden;background: none repeat scroll 0 0 #4d90fe;
	color:#f3f7fc;cursor: pointer;text-align: center; 
	}
.btn_addPic span{
		 width:50px; padding:0 12px; margin-left:-35px; margin-top:8px; background-color:#4d90fe; cursor:pointer; 
		font-size:12px; vertical-align:middle; color:#f3f7fc;position:absolute;
	}

.btn_addPic:hover span{background-position:-19px 0;}
.filePrew {
    display: block;position: absolute;top: 0;left: 0;width: 50px;height: 31px;font-size: 100px; /* 增大不同浏览器的可点击区域 */
    opacity: 0; /* 实现的关键点 */
	filter:alpha(opacity=0);/* 兼容IE */
	}
.sbtn2{
		float:left; width:50px; height:31px; padding:0 12px; margin-left:260px; margin-top:-34px; 
		border-radius:0 2px 2px 0; border:1px solid #4d90fe; background-color:#4d90fe; cursor:pointer;  
		display:inline-block; font-size:12px; vertical-align:middle; color:#f3f7fc;position:absolute;
	  } 
.sbtn:hover{background:#4084f2} 